.cabecalho {
    display: flex;
    justify-content: space-between;
}

.container__imagem {
    margin: 0 0 0 5em;
}

.container__botao {
    margin: 1.5em 5em 0 0;
}

.container__botao__link {
    text-decoration: none;
    color: var(--preto);
    padding: 1em;
    font-weight: 700;
    font-size: 18px;
}