.seguranca {
    background-color: var(--azul);
    display: flex;
    gap: 0;
}

.textos__seguranca {
    padding-top: 10em;
    padding-left: 10em;
}

.seguranca__cima {
    font-weight: 800;
    font-size: 32px;
    color: var(--vermelho);
    margin-bottom: 0;
}

.seguranca__familia {
    font-weight: 800;
    font-size: 46px;
    color: var(--branco);
    margin-top: 0;
}

.texto__seguranca-familia {
    font-weight: 600;
    font-size: 14px;
    color: var(--branco);
    padding-right: 15em;
    margin-bottom: 10em;
}

.familia__feliz {
    width: 80%;
    margin-right: 8em;
}